---
import Layout from "../layouts/Layout.astro";
---


<Layout>
  <h1 class="text-4xl font-bold text-primary mb-4">
    Hello Astro + daisyUI 🌼
  </h1>

  <button class="btn btn-primary mr-2">Primary Button</button>
  <button class="btn btn-secondary">Secondary Button</button>

  <div class="alert alert-success mt-4">
     This is a daisyUI alert!
  </div>
</Layout>
