@import "tailwindcss";

@source "../../../packages/ui";

@plugin "daisyui"{
   themes: light --default, dark --prefersdark, black, luxury, business, dim;
 }

 @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}