---
import Layout from "../../layouts/Layout.astro"
---


<Layout>
  <h1 class="text-4xl font-bold text-primary mb-4">
   About
  </h1>
  <a href="/" class="btn btn-sm btn-neutral data-astro-prefetch">Home</a>

</Layout>
